<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Index</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="assets/layout.css"/>
  </head>

  <body>
    <div class="wrapper">



      <main>
        <div class="mainDiv">
          <h1> IOU's </h1>
            <% for(curr in ious){ %>

              <div class = "content">
                <p> <%=ious[curr].title%>
                <form method="POST" action="/ious?_method=DELETE">
                  <p> IOU </p>
                    <button type="submit">Delete resource</button>
                </form>

                </div>
                <% }; %>

        </div>
      </main>



    </div>
  </body>
</html>