<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Index</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="../assets/layout.css"/>
  </head>

  <body>
    <div class="wrapper">

     /* <% include ./partials/_header %> */

      <main>
        <div>
          <div class = "content">
            <form action="/ious" method="POST" style="margin:150px;">
              <label for="newIOU">Create a new IOU</label>
              <input id="newIOU" type="text" name="friend" placeholder="" style="width: 300px" required>
              <input id="newIOU" type="text" name="title" placeholder="" style="width: 300px">
              <input id="newIOU" type="text" name="description" placeholder="" style="width: 300px" required>
              <input id="longURL" type="text" name="dueDate" placeholder="" style="width: 300px">
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
      </main>

      /* <%include ./partials/_footer %> */

    </div>
  </body>
</html>