<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Index</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="assets/layout.css"/>
  </head>

  <body>
    <div class="wrapper">
      <nav>
        <ul class="nav navbar-nav">
            <li><a href="/ious">Home</a></li>
            <li><a href="/ious/new">New IOU</a></li>
            <li><a href="/ious/edit">Edit IOU</a></li>
        </ul>
      </nav>


      <main>
        <div class="mainDiv">
          <h1> IOU's </h1>
            <% for(curr in ious){ %>

              <div class = "content">
                <p> <%=ious[curr].title%>
                <form method="POST" action="/ious?_method=DELETE">
                  <p> IOU </p>
                    <button type="submit">Delete resource</button>
                </form>

                </div>
                <% }; %>

        </div>
      </main>



    </div>
  </body>
</html>